body{
background-color: white;
}
.wraper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
   "a a a a"
   "b c c c"
   "b e e e"
   "b f f f"
   "b d d d"
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

li {
  float: left; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#icon {
font-size: 32px;
color: white;
}

header {
  grid-area: a;
  background-color: lightblue;
  padding: 10px;
}
.first{
  grid-area: c;
  border: 10px solid lightblue;
  background-color: white;
  text-align: justify;
  padding: 10px;

}
.second{
  grid-area: e;
  background-color: white;
  text-align: justify;
  border: 10px solid lightblue;
  padding: 10px;
}
.third{
  grid-area: f;
  background-color: white;
  border: 10px solid lightblue;
  text-align: justify;
  padding: 10px;
}
aside {
  grid-area: b;
  background-color: lightblue;
  text-align: center;
  padding: 110px;
}
#list{
text-align: center;
}	
footer {
  grid-area: d;
  background-color: lightblue;
  padding: 10px;

}
.lol{
  display: inline-block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

#icon2 {
font-size: 22px;
color: white;
}
.title {
text-decoration-line: underline ;
text-decoration-color: lightblue;
text

}