body { 
 text-align: center;

} 

.first {
    text-align: center; 
    display: inline-block; 
    margin: 20px;
} 
 
.first img { 
    display:inline-block;
    margin: 0 ; 
}
.text { 
   font-size: 10 px;
   
}
